* {
  margin: 0;
  padding: 0;
}

html,body {
  width: 100%;
  height: 100%;
  color: rgba(20,20,20,0.88);
}

.container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sheet {
  width: 560px;
  height: 720px;
  background-image: url("assets/paper.jpg");
  box-shadow: 0px 0px 8px 2px rgba(20,20,20,0.1);
}

.sheet-container-1 {
  padding: 48px 64px 24px;
  position: relative
}

#design-header {
  opacity: 0;
  position: absolute;
  top: 38px;
}

#design-header-shade {
  left: -24px;
  position: relative;
  height: 0;
  width: 8px;
  background-color: rgb(20,20,20);
}

#design-definition-shade {
  top: 20px;
  position: relative;
  width: 4px;
  height: 0;
  background-color: rgb(20,20,20);
}

#art-shade {
  position: absolute;
  top: 360px;
  width: 0px;
  height: 4px;
  background: rgb(20,20,20);
  z-index: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-underline {
  position: absolute;
  top: 136px;
  width: 0;
  height: 4px;
  background: rgba(20,20,20,0.88);
}

#design-definition {
  position: absolute;
  top: 134px;
  opacity: 1;
  margin-top: 24px;
  padding-left: 24px;
  width: 380px; 
  opacity: 0;
}

#design-art-li {
  font-size: 0.9em;
  transform: none;
}

#art div h1 {
  font-size: 11em;
  text-decoration: underline;
}

#art {
  position: absolute;
  top: 360px;
  left: -8px;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url("assets/plaster.jpg");
  background-size: 512px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', serif;
}

h1 {
  font-size: 4.05em;
  font-weight: 200;
}

p, ol {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.9em;
  color: rgba(20,20,20,0.78);
  margin-bottom: 8px;
}

ol {
  color: rgba(20,20,20,0.68);
}

.footer {
  margin-top: 24px;
}

.footer p {
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: rgba(20,20,20,0.78);
}